<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>BOOLZAP</title>
</head>
<body>
    
    <!-- conntenitore generale -->
<div class="contenitore_generale" id="app">
    <!-- sofndi -->
    <div class="sfondo_superiore"></div>
    <div class="sfondo_inferiore"></div>
    <!-- parrte principale -->
    <div class="parte_principale">
        <!-- col sx -->
        <div class="colonna_sinistra">
            <!-- superiore -->
            <div class="taglio_superiore">
                <div class="utente">
                    
                        <figure class="img_utente">
                            <img src="https://picsum.photos/200" alt="">
                        </figure>
                        <h3 class="nome_utente">Nome</h3>
                    
                </div>
                <div class="navigazione">
                    <ul class="simboli_navigazione">
                        <li><i class="fas fa-circle-notch"></i></li>
                        <li><i class="fas fa-comment-alt"></i></li>
                        <li><i class="fas fa-ellipsis-v"></i></li>
                    </ul>
                </div>
            </div>
            <!-- inferiore -->
            <div class="taglio_inferiore">
                <div class="cerca">
                    <input type="text" placeholder="Cerca o inizia una nuova chat" class="input_cerca">
                </div>

                <!-- lista contatti -->
                <ul class="lista_contatti">
                    <li class="anteprima_chat_box" v-for="(el, i) in contacts">
                        <div class="contatto">
                            <figure class="img_contatto">
                                <img src="https://picsum.photos/200" alt="">
                            </figure>
                            <div class="testo_contatto">
                                <h3 class="nome_contatto">{{el.name}}</h3>
                                <div class="ultimo_messaggio">Ciao sono Pallino</div>
                            </div>
                        </div>
                        <div class="data_ultimo_messaggio">22/02/22</div>
                    </li>
                   

                   
                </ul>
            </div>
        </div>

        <!-- col dx -->
        <div class="colonna_destra">
            <!-- superiore -->
            <div class="taglio_superiore">
                <div class="chat">
                    <div class="contatto">
                        <figure class="img_contatto">
                            <img src="https://picsum.photos/200" alt="">
                        </figure>
                        <div class="testo_contatto">
                            <h3 class="nome_contatto">Pinco</h3>
                            <div class="ultimo_accesso">oggi all'ora tal dei tali</div>
                        </div>
                    </div>
                </div>
                <div class="navigazione">
                    <ul class="simboli_navigazione">
                        <li><i class="fas fa-search"></i></li>
                        <li><i class="fas fa-paperclip"></i></li>
                        <li><i class="fas fa-ellipsis-v"></i></li>
                    </ul>
                </div>
            </div>
            <!-- centrale -->
            <div class="taglio_centrale">
                <ul class="conversazione" v-for="(el, i) in contacts" v-if="el.active == true">
                    <li v-for="(elemento, j) in contacts[i].messages" class=" chat_li">
                        <div class="testo_conversazione_box" :class="controlloStatus(i,j)" >
                            <div class="testo_conversazione">{{elemento.text}}</div>
                            <div class="ora_conversazione">15.30</div>
                        </div>
                    </li>
                    
                </ul>
            </div>

            <!-- inferiore -->
            <div class="taglio_inserisci_messaggio">
                <div class="emoji">
                    <i class="fas fa-grin-alt"></i>
                </div>
                <input type="text" placeholder="Scrivi un messaggio" class="messaggio_inserito">
                <div class="vocale">
                    <i class="fas fa-microphone"></i>
                </div>
            </div>
        </div>
    </div>
</div>


    <script src="app.js"></script>
</body>
</html>