*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

li{
    list-style: none;
}

img{
    height: 100%;
}

.contenitore_generale{
    height: 100vh;
    width: 100vw;
    position: relative;
}

.sfondo_superiore{
    height: 100px;
    background-color: rgb(75, 136, 126);
}

.sfondo_inferiore{
    height: calc(100% - 100px);
    background-color: rgb(209, 214, 211);
}

.parte_principale{
    position: absolute;
    top: 50px;
    bottom: 50px;
    right: 70px;
    left: 70px;
    height: calc(100% - 50px - 50px);
    background-color: white;

    display: flex;

}

.colonna_sinistra{
    width: calc(100% / 3);
    height: 100%;

    border-right: 2px solid rgb(205, 205, 205);
}

.taglio_superiore{
    height: 70px;
    background-color: rgb(231, 231, 231);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.colonna_destra{
    height: 100%;
    width: calc((100% / 3) * 2);
}

.taglio_inferiore{
    height: calc(100% - 70px);
}

.cerca{
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: rgb(249, 249, 249);
    justify-content: center;
}

.lista_contatti{

}

.anteprima_chat_box{
    height: 80px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.img_contatto, .img_utente{
    height: 60px;
    border-radius: 99999px;
    overflow: hidden;
    width: 60px;
}

.testo_contatto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 60px;
}

.contatto, .utente{
    display: flex;
    align-items: center;
    gap: 20px;
}

.taglio_inserisci_messaggio{
    height: 70px;
    background-color: rgb(242, 235, 232);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.taglio_centrale{
    height: calc(100% - 70px - 70px);
    background-color: rgb(224, 216, 208);
    position: relative;
}


.simboli_navigazione{
    display: flex;
    justify-content: space-around;
    color: rgb(168, 168, 168);
}

.navigazione{
    width: 80px;
}

.vocale, .emoji{
    color: rgb(96, 103, 106);
}

input[type="text"]{
    border: none;
    height: 40px;
    /* width: 85%; */
    padding: 20px;
    color: rgb(124, 124, 124);
}

.input_cerca{
    width: 95%;
}

.messaggio_inserito{
    width: 85%;
}

.ultimo_messaggio, .ultimo_accesso{
    color: rgb(124, 124, 124);
}


/* conversazione */

.conversazione{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}

.chat_li{
    height: 80px;
    padding: 15px;
}

.testo_conversazione_box{
    width: 65%;
    border-radius: 10px;
    position: absolute;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 10px;

}

.messaggio_ricevuto{
    left: 30px;
    background-color: white;
}

.messaggio_inviato{
    right: 30px;
    background-color: rgb(215, 245, 184);
}

.testo_conversazione{
    display: flex;
    align-items: flex-start;
}

.ora_conversazione{
    display: flex;
    align-items: flex-end;
    font-size: 11px;
    color: rgb(124, 124, 124);
}